# SDE in Finance coursework1

### Group 6

In [15]:
import pandas as pd
import scipy
import numpy as np;
import math; 
import statistics;
from scipy.stats import norm;
import matplotlib.pyplot as plt;
df = pd.read_csv('S&P_500_Historical_Data.csv')

In [16]:
df['Date'] = pd.to_datetime(df['Date'])

 

df['Open'] = df['Open'].str.replace(',','')
df['Open'] = df['Open'].astype(float)

del df['Price']
del df['High']
del df['Low']
del df['Vol.']
del df['Change %']

open_array = df['Open'].to_numpy()
log_array = np.zeros((len(open_array)),dtype = float)
for i in range(len(open_array)-1):
    log_array[i+1] = np.log(open_array[i]/open_array[i+1])
df['log_return'] = log_array

df1week = df.loc[(df['Date'] >= '2022-11-12') & (df['Date'] < '2022-11-19')]
df2week = df.loc[(df['Date'] >= '2022-11-5') & (df['Date'] < '2022-11-19')]
df1month = df.loc[(df['Date'] >= '2022-10-19') & (df['Date'] < '2022-11-19')]
df3month = df.loc[(df['Date'] >= '2022-8-19') & (df['Date'] < '2022-11-19')]
df6month = df.loc[(df['Date'] >= '2022-5-19') & (df['Date'] < '2022-11-19')]
df1year = df.loc[(df['Date'] >= '2021-11-19') & (df['Date'] < '2022-11-19')]
df3year = df.loc[(df['Date'] >= '2019-11-19') & (df['Date'] < '2022-11-19')]
df5year = df.loc[(df['Date'] >= '2017-11-19') & (df['Date'] < '2022-11-19')]

In [17]:
df1week

        Date     Open  log_return
0 2022-11-18  3966.39    0.000000
1 2022-11-17  3919.26    0.011954
2 2022-11-16  3976.82   -0.014580
3 2022-11-15  4006.41   -0.007413
4 2022-11-14  3977.97    0.007124

In [12]:
open_array = df['Open'].to_numpy()
log_array = np.zeros((len(open_array)-1),dtype = float)
for i in range(len(open_array)-1):
    log_array[i] = np.log(open_array[i]/open_array[i+1])

In [13]:
log_array

array([ 1.19535006e-02, -1.45796445e-02, -7.41307353e-03, ...,
        4.23017538e-05,  4.29330766e-03,  3.74565606e-03])